* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./assets/background2.png");
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px){
    body{
        transform: scale(.75);
    }
}

@media (max-width: 500px){
    body{
        transform: scale(.5);
    }
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap-reverse;
    width: 100%;
    
}

#bezel{
    width: 650px;
    height: 700px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    box-shadow: 0 0 1rem #ff0800;
    border-radius: .5rem;
    flex: 0 1 auto;
}

#topPart{
    display: flex;
    width: 650px;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 30px 0 30px; */
}

#colorPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1;
}

#colorPalette{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#colorPalette::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

#colorPalette::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#squareControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    flex: 1;

}

#squareControl input{
    accent-color: rgb(24, 76, 72);
}

#container{
    width: 500px;
    height: 500px;
    background: white;
    display: grid;
    box-shadow: 0 0 1rem #fef6d9;
    border-radius: .5rem;
}

#bottomPart{
    display: flex;
    width: 650px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

button{
    width: 80px;
    height: 80px;
    border: 3px solid rgb(29, 28, 28);
    box-shadow: 0 0 1rem #1a0802;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    transition: background-color 1s;
}

#deletion{
    width: 180px;
    display: flex;
    justify-content: space-between;
}

#colorMode:focus,
#eraser:focus,
#clear:focus{
    background-color: rgb(36, 36, 36);
    color: #ededed;
    font-weight: bold;
}

#clear:hover,
#colorMode:hover,
#eraser:hover{
    transform: scale(1.1);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: auto;
}

footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}
